@tailwind base;
@tailwind components;
@tailwind utilities;

.solutiion-image {
-webkit-box-shadow: 1px -1px 23px -11px rgba(38,38,38,1);
-moz-box-shadow: 1px -1px 23px -11px rgba(38,38,38,1);
box-shadow: 1px -1px 23px -11px rgba(38,38,38,1);
}
